@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h4>C# Final Project</h4>


<p>By Tai Martinez</p>
<p>CS 3020</p>
<p>13 May 2019</p>

<p>
    So I am an assistant coach for woodland park high school track and field and every year at the beginning of the season,
    my coaching staff and I have the long process of recording every athlete’s information, organizing meet 
    and practice schedules, and the results of the meet. This also includes typing all this information 
    out into a document to add later to the track and field website that I also help manage, another long 
    process in itself. My final project idea is to create an application that can help simplify this process. </p>
   <p> 1.	Initially, I would like to create a student and coach “mode”.</p>
  <p>  2.	 In the student mode, the student can add their information including: 
    Name, event preferences, grade, and phone number which is added to a document that 
    I can later distribute to the other coaches. </p>

   <p> 3.	In the coach mode, I would like the coach to be able to type in a kids name to find 
    their information easily, be able to insert meet results that is added to another document 
    that could be uploaded to the website easily, search for the fastest times of a certain event 
    to determine who should run what, and have a practice and meet schedule with reminders. </p>

