@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>@ViewData["Title"]</h2>

<h2>Welcome to my C# Final Project Page</h2>


<p>You can navigate to the "About" page to learn more about this. </p>