@page
@model FinalProject.Pages.Results.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Results</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Results.MeetName" class="control-label"></label>
                <input asp-for="Results.MeetName" class="form-control" />
                <span asp-validation-for="Results.MeetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Results.Date" class="control-label"></label>
                <input asp-for="Results.Date" class="form-control" />
                <span asp-validation-for="Results.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Results.Athlete" class="control-label"></label>
                <input asp-for="Results.Athlete" class="form-control" />
                <span asp-validation-for="Results.Athlete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Results.Event" class="control-label"></label>
                <input asp-for="Results.Event" class="form-control" />
                <span asp-validation-for="Results.Event" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Results.Mark" class="control-label"></label>
                <input asp-for="Results.Mark" class="form-control" />
                <span asp-validation-for="Results.Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
